@import 'hubai-core/style/common';
@import 'hubai-core/style/animation';

// ============= The Workbench parts =============
@import 'hubai-core/components/actionBar/style';
@import 'hubai-core/components/breadcrumb/style';
@import 'hubai-core/components/button/style';
@import 'hubai-core/components/checkbox/style';
@import 'hubai-core/components/collapse/style';
@import 'hubai-core/components/contextView/style';
@import 'hubai-core/components/dialog/style';
@import 'hubai-core/components/dropdown/style';
@import 'hubai-core/components/input/style';
@import 'hubai-core/components/list/style';
@import 'hubai-core/components/menu/style';
@import 'hubai-core/components/scrollBar/style';
@import 'hubai-core/components/select/style';
@import 'hubai-core/components/tabs/style';
@import 'hubai-core/components/toolbar/style';
@import 'hubai-core/components/tree/style';
@import 'hubai-core/components/search/style';
@import 'hubai-core/components/tooltip/style';
@import 'hubai-core/components/split/style';
@import 'hubai-core/components/chat/audio/style';
@import 'hubai-core/components/chat/style';

// ============= The Workbench core component =============
//@import 'hubai-core/workbench/style';
//@import 'hubai-core/workbench/activityBar/style';
//@import 'hubai-core/workbench/editor/style';
// @import 'hubai-core/workbench/editor/welcome/style';
//@import 'hubai-core/workbench/menuBar/style';
//@import 'hubai-core/workbench/panel/style';
//@import 'hubai-core/workbench/settings/style';
//@import 'hubai-core/workbench/sidebar/style';
//@import 'hubai-core/workbench/statusBar/style';
//@import 'hubai-core/workbench/notification/style';
//@import 'hubai-core/workbench/sidebar/explore/style';
//@import 'hubai-core/workbench/problems/style';
//@import 'hubai-core/workbench/notification/statusBarView/style';
// @import 'hubai-core/workbench/auxiliaryBar/style';

.#{$prefix} {
    bottom: 0;
    box-sizing: border-box;
    font-size: 13px;
    height: 100%;
    left: 0;
    margin: 0;
    outline: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
    width: 100%;
}

.mac {
    font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

.center {
    text-align: center;
}

.hidden {
    display: none;
}
